:root {
	--primary-color: #eb9297;
	--primary-text: rgba(255, 255, 255, 0.75);
	//--primary-color: #cc3942;
	//--primary-text: #3e3f43;
}

html {
	height: 100%;
	//background:#e2e1e0;
	color: var(--primary-text);
}
 
body {
	background: white;
	background:#456478;
	background:#456478;
	background: linear-gradient(to bottom, #456478, #3c4d58); /* Example: Subtle blue to purple */
	background-size: cover;
	background-attachment: fixed;
	
	margin: 0em;
	padding: 0em;
	height: 100%;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 13pt;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

header {
	 padding: 0em;
}
 
main {
	 padding-top: 1em;
	 padding-left: 2em;
	 padding-right: 2em;
	 padding-bottom: 2em;
}
 
a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--primary-color);
}


#header {
	padding: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 20px;
	align-items: first;
}

#logo {
}

#logo img {
	display: block;
	height: 34px;
	opacity: 70%;
}

#logo a:hover {
	color: inherit;
}

/* Hamburger Menu Elements */
#line-top, #line-middle, #line-bottom {
	stroke: var(--primary-text);
	stroke-width: 2;
	transition: 0.1s ease;
}

.subhead {
	display: flex;
	justify-content: space-around;
	font-size: 16pt;
	font-weight: 300;
	padding-bottom: 0.5em;
}

#popdown {
	height: 0px;
    visibility: hidden;
	transition: height 0.3s ease, visibility 0.3s ease;
	overflow-y: clip;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	color: white;
}


#popdown .navitem {
	font-size: 12pt;
	font-weight: 300;
}

#popdown .navitem a:hover {
	color: inherit;
}


#header-nav {
	transform: translateY(-4px);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 30px;
}

.navitem {	
	flex-shrink: 0;
}

#menu-button {
	transform: translateY(-4px);
	display: none;
}



.selected.navitem {
	//color: #eb9297;
}

.popdown-active #line-top {
	transform-origin: 50% 50%;
	transform: rotate(45deg) translateY(6px) scaleX(1.25);
}

.popdown-active #line-middle {
	opacity: 0;
}

.popdown-active #line-bottom {
	transform-origin: 50% 50%;
	transform: rotate(-45deg) translateY(-6px) scaleX(1.25);
}

.popdown-active #footer-nav {
	opacity: 0%;
}

.popdown-active #popdown {
	height: 3em;
	visibility: visible;
}

.hidden {
	display: none;
}



@media screen and (max-width: 640px) {
	#header-nav {
		display: none;
	}

	#menu-button {
		display: revert;
	}
	
	#header {
		padding: 1.5em;
	}
	
	main {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

}
