html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: rgba(242, 242, 242, 1);
	color: rgb(78, 80, 83)
 }
 
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	 max-width: 1024px;
	 margin-left: auto;
	 margin-right: auto;
}

.body {
 }


header {
	padding: 2em;
}

main {
	padding: 2em;
}

footer {
	padding: 2em;
}

a {
	color: inherit; /* Or your desired link color */
	text-decoration: none; /* Remove underline if you prefer */
	transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the effect */
}

a:hover {
	text-decoration: underline; /* Remove underline if you prefer */
}

button {
	background: none;
	border: none;
}

.logo {
	flex-shrink: 0;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 20pt;
	letter-spacing: -1.5px;
}

.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 20px;
}

.navitem {	
	flex-shrink: 0;
}


#menu-overlay {
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100%;
	background: black;
	opacity: 85%;
	color: white
}

.onscreen {
	transform: translateX(0px);
	transition: transform 0.3s ease; /* Smooth transition */
}		

.offscreen-left {
	transform: translateX(-100%);
	transition: transform 0.3s ease; /* Smooth transition */
}				


.footer {
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: normal;
	align-content: normal;
	gap: 20px;
	font-size: 10pt;
}

.flexrow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 20px;
}

.baseline {
	align-items: baseline
}

.navbutton {
	display: none;
}

@media screen and (max-width: 640px) {
	.navbar {
		display: none
	}

	.navbutton {
		display: revert
	}
}
