html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: rgba(242, 242, 242, 1);
	color: rgb(78, 80, 83)
 }
 
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}

header, main, footer {
	padding: 2em;
}

a {
	color: inherit; /* Or your desired link color */
	text-decoration: none; /* Remove underline if you prefer */
}

a:hover {
	text-decoration: underline; /* Remove underline if you prefer */
}

button {
	background: none;
	border: none;
}

#line-top, #line-middle, #line-bottom {
	stroke: black;
	stroke-width: 2;
	transition: 0.1s ease;
}

.menu-icon-active #line-top {
	transform-origin: 50% 50%;
	transform: rotate(45deg) translateY(6px) scaleX(1.25);
}

.menu-icon-active #line-middle {
	opacity: 0;
}

.menu-icon-active #line-bottom {
	transform-origin: 50% 50%;
	transform: rotate(-45deg) translateY(-6px) scaleX(1.25);
}

#popdown {
	height: 0px;
    visibility: hidden;
	transition: height 0.3s ease, visibility 0.3s ease, padding 0.3s ease;
	overflow-y: clip;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 6px;
	padding-top: 0px;
}

.menu-icon-active #popdown {
	visibility: visible;
	padding-top: 20px;
	height: 20px;
}

#popdown .navitem {
	font-weight: 400;
}

#menu-overlay {
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100%;
	background: black;
	opacity: 85%;
	color: white
}

.onscreen {
	transform: translateX(0px);
	transition: transform 0.3s ease; /* Smooth transition */
}		

.offscreen-left {
	transform: translateX(-100%);
	transition: transform 0.3s ease; /* Smooth transition */
}				

.flexrow {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 20px;
}

.baseline {
	align-items: baseline
}

.logo {
	flex-shrink: 0;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 20pt;
	letter-spacing: -1px;
}

.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 20px;
}

.navitem {	
	flex-shrink: 0;
}

.navbutton {
	display: none;
}

.hidden {
	display: none;
}
@media screen and (max-width: 640px) {
	.navbar {
		display: none;
	}

	.navbutton {
		display: revert;
	}
}
